@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;600;900&display=swap');
@import "tailwindcss";

@layer utilities {
  .font-serif-sc {
    font-family: 'Noto Serif SC', serif;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(212, 175, 55, 0.3);
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(212, 175, 55, 0.6);
  }
}

@media (pointer: fine) {
  body, a, button, [role="button"] {
    cursor: none !important;
  }
}
